.jqm-header h1 > img{
  width: 140px;
}
.jqm-header .ui-btn {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0.3125em;
    height: 2em;
    margin-top: -1em;
    opacity: 0.4;
    top: 50%;
    width: 2em;
}
.content-title{
	text-align: center;
	font-size: 1.5em;
}
.image-center{
	margin: 0 25%;
	width: 45%;
}
.image-center img{
	width: 100%;
}