.navbar {
  border-radius: 0;
  background-color: #003e85;
  color: #fff;
}
.navbar-inverse {
    background-image: linear-gradient(to bottom, #004492 0%, #003b81 100%);
    background-repeat: repeat-x;
  color: #fff;
}
.navbar-inverse {
    background-color: #222;
    border-color: #001f43;
  	color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-brand img{
	margin-top: -5px;
  max-width: 150px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #dadada;
}

#map-container {
    height: 400px;
    width: 100%;
}
#address{
	font-size: 18px;
	margin-top: 10px;
}
section.container article{
	margin-top: 50px;
}
footer{
	margin-top:50px; 
	padding-top:20px; 
	padding-bottom:30px;
	background-color: #003e85;
  color: white;
  width: 100%;
}
.fa{
	color: #003e85;
}