body{
	background-color: #003e85;
	margin:0;
	padding: 0;
}
nav#main-menu{
	background-color: #fff;
	position: fixed;
	width: 100%;
	margin-top:-85px;
	z-index: 10000;
}
nav#main-menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav#main-menu ul li{
	display:  inline-block;
	vertical-align: top;
	padding: 25px 30px 19px;
	font-size: 20px;
}

nav#main-menu ul li:hover{
	background-color: #eeeeee
}

nav#main-menu ul li a{
	color:#025b87;
	text-decoration: none
}
nav#main-menu ul li a:hover{
	color:#0193dc;
}
nav#main-menu ul li#logo-nav{
	max-height: 58px;
	max-width: 280px;
	padding: 5px 30px;
}
#logo-nav img{
	width: 100%;
}

#main-container{
	margin: 85px 5% 20px 5%;
	background-color: #fff;
}
#main-container header{
	background-color: #005dc8;
	background-image: url("../images/bg.png");
	color:#fff;
}
#main-container header h2{
	font-size: 32px;
	padding: 10px;
	position: relative;
}

#main-container header figure{
	max-width:1020px;
	margin-left: 10%;
}
#main-container header figure img{
	width: 100%;
}

#main-container section{
	padding: 20px;
}

#main-container section article.service{
	display: inline-block;
	max-width: 33%;
  vertical-align: top;
}
#main-container section article.service h2{
	text-align: center;
}
#main-container section article.service p{
	text-align: justify;
	padding: 5px 10px;
}
footer{
	background-color: #fff;
	width: 100%;
	padding: 25px 15px;
}